:root{
	--clr-graylight:#faf2f6;
	--clr-graymed:#78909c;
	--clr-graydark:#37474f;
	--clr-primary:#fe528a;
	--clr-primaryhover:#fce4ec;
	--clr-primaryfocus:#f48fb1;
	--clr-primarydark:#6b2b5e;
	
	--radius:8px;
	--padding:8px;

}

*,
*::before,
*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	color: var(--clr-graydark);
}


body::before{
	/* content: url('/images/bg1.jpg'); */
	position: absolute;
	background-blend-mode: multiply;
	opacity: 0.4;
	filter: brightness();
	overflow-x:hidden;
	overflow-y: hidden;
	z-index: 1;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
}

.wrapper{
	background: white;
	width: 20rem;
	padding: 2rem;
	border-radius: var(--radius);
	margin: 2rem auto;
	box-shadow: 5px 10px 15px #888888;	
}

.title{
	text-align: center;
	margin-bottom: 1rem;
}

.description{
	font-size:  0.8rem;
	margin-bottom:  1rem;

}

.form-group{
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.form-label{
	font-size: 0.8rem;
	margin-bottom: 0.2rem;
}

.form-input{
	border: none;
	background-color: var(--clr-graylight);
	border-radius: var(--radius);
	padding: var(--padding);
	font-family: inherit;
	color: inherit;
	outline: none;
	border: 1px solid rgba(0,0,0,0);
	box-shadow:0 0 5px rgba(0,0,0,0);
	transition: 250ms all ease-in;

}

.form-input:hover,
.form-input:focus
{
	border: 1px solid var(--clr-primaryhover);
	box-shadow:0 0 5px var(--clr-primaryhover);
	background: white;
}


.form-input::placeholder{
	color: var(--clr-graymed);
}

.btn-primary{
	border: none;
	background: var(--clr-primary);
	color: white;
	border-radius: var(--radius);
	padding: var(--padding);
	margin-top: 1rem;
	font-family: inherit;
	font-weight: bold;
	width: 16rem;
	cursor:pointer;
}

.btn-primary:hover{
	background-color: var(--clr-primarydark);

}
